body {
  font-family: sans-serif;
}

#testapp {
  padding-top: 100px;
  text-align: center;
}


.wrapper {
  overflow: hidden;
  margin: auto;
  width: 600px;
  height: 300px;
  border: 2px solid orange;
}

.inner {
  background: #eee;
  white-space: nowrap;
}

#scroll .wrapper {
  overflow: scroll;
}

/* Added */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  border: 2px solid #999;
}

.video-list .wrapper {
  width: 100%;
  height: 250px;
  border: none;
}

.video-list .inner .video-box {
  height: 100%;
  display: inline-block;
  margin-right: 2em;
  white-space: normal;
}

.video-list .video-box .video-thumbnail-wrapper {
  max-height: 80%;
  overflow: hidden;
  position: relative;
}

.video-list .video-box .video-thumbnail-wrapper .video-thumbnail {
  height: 100%;
  width: auto;
  border-radius: 10px;
}

.video-list .video-box .video-thumbnail-wrapper .video-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-align: left;
}

.video-list .video-box .video-title p {
  color: yellow;
  margin: 0 0 .2em 0;
}

.video-list .video-box .video-title h3 {
  margin: 0;
  color: white;
}

.video-list .video-box .video-info-wrapper {
  height: 20%;
  display: flex;
  align-items: center;
  color: #222;
  background-color: #eee;
}

.video-list .video-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.video-list .video-info-wrapper .channel-icon-box {
  flex-basis: auto;
  height: 80%;
  margin-right: .5em;
}

.video-list .video-info-wrapper .channel-icon-box .channel-icon {
  height: 100%;
  float: left;
}

.video-list .video-info-wrapper .video-info {
  flex: 4;
  text-align: left;
}

.video-list .video-info-wrapper .sharing-box {
  flex: 1;
}


.video-list .video-info-wrapper .video-info .video-author {
  margin: 0;
  font-size: 1em;
}

.video-list .video-info-wrapper .video-info .video-date {
  margin: 0;
  font-size: 0.75em;
}

.video-list .video-info-wrapper .sharing-box .share-text {
  text-decoration: none;
  color: #d884ff;
  text-transform: lowercase;
}














/* end */
