/*--------------------------------
Global CSS
--------------------------------*/

/* Global stuff */

body, html {
	font-family:"Open Sans", "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;
}

p {
	line-height: 1.5;
}

section {
	overflow:hidden;
}

button, .button {
	border:none;
	border-radius: 10px;
	background: #37039f;
	color: white;
	font-size: 16px;
	padding: 12px 2em;
	cursor: pointer;
	margin:1em 0;
	/* box-shadow: 0 1px 1px .5px rgba(55,3,159,0.8); */;
	transition: .2s;
}

a.button {
	display: inline-block;
}

.clickable-button {
	border-bottom:4px solid #37039f;
}

.clickable-button:hover {
	background:#6a43b7;
}

.clickable-button:active {
		border-bottom:4px solid #6a43b7;
		transform:scale(0.5);
}

.container {
	width:80%;
	max-width: 1200px;
	margin:auto;
	height:100%;
}

.large-container {
	width:90%;
	max-width:1200px;
	margin:auto;
	height:100%;
}

.main-column {
	background:white;
	border-radius:10px;
	box-shadow:0 1px 3px rgba(0,0,0,0.4);
	padding:1em;
}

h1,h2,h3,h4,h5,h6 {
	margin:0.75em 0 0.5em 0;
}

a {
	text-decoration:none;
}

a button {
	color:white;
	font-size:30px;
}

.flex-container {
	display: block;
	height: 100%;
}

@media only screen and (min-width:420px) {
.flex-container {
	display:flex;
	justify-content:space-between;
	height:100%;
	align-items: center;
	flex-flow: row wrap;
	}
}

.xscroll-container {
	overflow: hidden;
}

.xscroll-container {
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.xscroll-container:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/*--------------------------------
Navigation
--------------------------------*/


/* Mobile navigation bar */

#mnav {
	position: fixed;
	bottom: 0;
	width: 100vw;
	background: white;
	height: 90px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	z-index: 420421;
	font-weight: 500; /* some typography */
	font-family: Comfortaa;
	text-transform: lowercase;
	color: #999;
}

#mnav .mnav-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	height: 100%;
}

#mnav .mnav-container .mnav-box {
	height: 100%;
	flex-basis: 22%;
}

#mnav .mnav-container .mnav-box .mnav-content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#mnav .mnav-container .mnav-box .mnav-content:hover {
	background: #eee;
}

#mnav .mnav-container .mnav-box .mnav-content .mnav-icon {
	display: block;
	margin: 0;
	height: auto;
	width: auto;
	height: 32px;
}

#mnav .mnav-container .mnav-box .mnav-content .mnav-text {
	color: #999;
	text-align: center;
	font-size: .8rem;
	font-weight: inherit;
	margin: .5em 0 0 0;
}

/* Hamburger  */
.burger-container {
	height: 100%;
	width: 100%;
}

.burger-container .burger {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.burger-container .burger .burger-line {
	width: 32px;
	height: 3px;
	border-radius: 20px;
	background-color: #222;
	transition: all .3s ease-in-out;
	transition-delay: .1s;
}

.burger-container .burger .burger-line-middle {
	margin: 4px 0;
	transition: all .15s ease-in-out;
	transition-delay: .3s;
}

/* Opening the burger */
.burger.open .burger-line-top {
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.burger.open .burger-line-bottom {
	-webkit-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

.burger.open .burger-line-middle {
	opacity: 0;
	margin: -3px 0;
	transition: all .15s ease-in-out;
}

/* The sidebar menu */
#sidebar-nav {
	position: fixed;
	height: calc(100% - 90px);
	bottom: 90px;
	right: 0;
	width: 50vw;
	background: white;
	box-shadow: 0 -10px 10px rgba(0,0,0,0.3);
	z-index: 420420;
	transition: .3s;
	overflow: hidden;
	-webkit-transform: translateX(85vw);
	-ms-transform: translateX(85vw);
	transform: translateX(85vw);
}

#sidebar-nav.open {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);}

#sidebar-nav .sb-container {
	display: flex;
	height: 100%;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

#sidebar-nav .sb-logo-container .sb-logo {
	height: 60px;
	margin: 0 auto 1rem auto;
	display: block;
}

#sidebar-nav .sb-menu-container .sb-menu-item {
	display: flex;
	justify-content: flex-start;
	flex-flow: row nowrap;
	align-items: center;
	padding: .8em;
}

#sidebar-nav .sb-menu-container .sb-menu-item:hover {
	background-color: #f2f2f2;
}

#sidebar-nav .sb-menu-container .sb-menu-item .sb-icon {
	height: 2em;
	margin-right: .75em;
	display: inline;
}

#sidebar-nav .sb-menu-container .sb-menu-item .sb-menu-text {
	font-size: 1rem;
	font-weight: inherit;
	color: #999;
	margin: 0;
}


/*--------------------------------
Top header navigation
--------------------------------*/

#header {
		display: none;
		background-color: white;
  	/* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
		color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
		box-shadow:0 0 20px rgba(0,0,0,0.2);
}

@media (min-width: 800px) {
	#mnav {
		display: none;
	}
	#header {
		display: block;
	}
}

.top-nav-container {
	height: 100%;
	width: 100%;
	max-width: 100%;
	background: white;
}

#header-container {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
}

#header nav ul {
	list-style:none;
	height:100%;
	margin: auto;
	padding:0;
	display: block;
}

#header nav ul li {
	display:table;
	height:100%;
	float:left;
}

#header nav ul li a {
	font-family:Comfortaa;
	font-size:1em;
	color: #999;
	/* display: table-cell;
	vertical-align:middle; */
	padding:0 2.2vw;
	height:100%;
	transition:200ms;
}

#header nav ul li a:hover {
	color:#D885FF;
	transform:scale(1.2);
}

.main-logo {
	height:80px;
}

.main-nav-active {
	color: #c74fff;
}


/*----------------------------------------------
Horizontal tabs menu
----------------------------------------------*/

/* #tabs {
	font-family: comfortaa;
	text-transform: lowercase;
}

@media (min-width: 1200px) {
	#tabs {
		margin-top: 10vh;
	}
}

#tabs .flex-container {
	justify-content: flex-start;
	border-bottom: 1px solid #e6e6e6;
}

.page-title {
	display: none;
	flex-basis: 100%;
	align-self: center;
	text-align: center;
	margin: 1.5rem 0;
}

.page-title-text {
	margin: 0;
	color: inherit;
	font-size: 1.5em;
	font-weight: 400;
}

.page-title-mobile {
	width: 100%;
	background: #37039f;
	padding: 2rem 0;
	margin-bottom: 2rem;
}

.page-title-text-mobile {
	font-size: 1.5em;
	color: white;
	font-weight: 400;
	margin: 0;
	text-align: center;
}

@media (min-width: 800px) {
	#tabs .flex-container {
		justify-content: center;
	}
	.page-title {
		display: block;
	}
	.page-title-mobile {
		display: none;
	}
}

@media (min-width: 1200px) {
	#tabs .flex-container .page-title {
		flex-basis: auto;
		flex: 1;
		padding-bottom: 0.5em;
		text-align: left;
		margin: 0;
	}
}

#tabs .flex-container .tabs-items-container {
	flex: 7;
	text-align: center;
	align-self: flex-end;
	margin-bottom: -1px;
}

#tabs .flex-container .flex-fill {
	flex: 0;
}

@media (min-width: 1200px) {
#tabs .flex-container .flex-fill {
	flex: 1;
	}
}

#tabs .tabs-items {
	padding-top: 20px;
	height: 100%;
	list-style: none;
	text-align: center;
	display: inline;
	font-size: 1em;
	padding: 0;
	overflow-x: auto;
	white-space: nowrap;
}

#tabs .tabs-items li {
	display: inline-block;
}

#tabs .tabs-items li a {
	display: block;
	margin:0 1em;
	padding-bottom: 1em;
	text-transform: lowercase;
	border-bottom: 1px solid #e6e6e6;
	color:#cccccc;
	transition: .25s;
	cursor: pointer;
}

@media (min-width: 800px) {
	#tabs .tabs-items li a {
		margin: 0 2em;
	}
}

#tabs .tabs-items .active-tab {
	border-bottom: 1px solid #c74fff;
}

#tabs .tabs-items a:hover {
	border-bottom: 1px solid #c74fff;
	color:#c74fff;
}

.tabcontent {
	margin: 1.5rem 0;
} */

/*----------------------------------------------
Horizontal tabs menu V2
----------------------------------------------*/

.page-title-container {
	width: 75%;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
}

.page-title {
	font-weight: bold;
	font-family: inherit;
	font-size: 2em;
	text-align: center;
	margin: .5em 0;
}

.tabs-container {
	padding: 0 12px;
	border-bottom: 1px solid #ddd;
	z-index: 2;
	font-family: comfortaa;
}

.tabs-inner {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	margin-bottom: -1px;
	overflow-x: auto;
}

.tablink {
	color: #999;
	font-family: inherit;
	text-transform: lowercase;
	margin: 0 4px;
	padding: 1.5em 0;
	-webkit-transition: .3s ease;
	transition: .3s ease;
	border-bottom: 1px solid #ddd;
	z-index: 5;
}

.tablink.active-tab {
	border-bottom: 1px solid #c47fff;
}

.tablink:hover {
	border-bottom: 1px solid #c74fff;
	color: #c74fff;
}

.page-title-wide {
	display: none;
	font-family: inherit;
	text-transform: lowercase;
	font-weight: 400;
	color: #999;
}

@media (min-width: 480px) {
	.tabs-inner {
		justify-content: center;
	}
	.tablink {
		margin-left: 1em;
		margin-right: 1em;
		margin-bottom: -1px;
	}
}

@media (min-width: 800px) {
	.tabs-container {
		width: 90%;
		margin: auto;
		margin-top: 2em;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
	.tabs-inner {
		display: flex;
		justify-content: center;
	}
	.tablink {
		margin-left: 1.5em;
		margin-right: 1.5em;
	}
	.page-title-container {
		display: none;
	}
	.page-title-wide {
		display: block;
	}
}



/*----------------------------------------------
Footer
----------------------------------------------*/

footer {
	margin-top: 70vh;
}

footer {
	color: white;
	text-align: center;
	clear: both;
	min-height: 500px;
	background-image: url('../img/night-sky.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

footer .newsletter {
	padding: 100px 0;
}

footer .newsletter h2 {
	margin: 0;
	font-size: 3em;
	text-shadow: 1px 1px 1px #222;
}

footer .newsletter input[type="email"] {
	border:none;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #222;
	padding: 0.75em;
	font-size:1.25em;
	width: 70%;
}
