/*--------------------------------
Global CSS
--------------------------------*/

body {
	font-family:"Open Sans", "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	font-weight: 400;
	font-size: 16px;
}

p {
	line-height: 1.5;
}

section {
	overflow: hidden;
}

ul {
	margin: 0;
	padding-left: 1.5rem;
}

li {
	padding-left: 6px;
}

img {
	max-width: 100%;
	object-fit: cover;
	box-sizing: border-box;
}

figcaption, .figcaption {
	font-family: 'Comfortaa';
	font-size: 13px;
	color: #b3aea9;
	text-transform: lowercase;
	text-align: center;
	padding: .5em 0;
}

button, .button {
	border:none;
	border-radius: 10px;
	background: #37039f;
	color: white;
	font-size: 16px;
	padding: 12px 2em;
	cursor: pointer;
	margin:1em 0;
	/* box-shadow: 0 1px 1px .5px rgba(55,3,159,0.8); */;
	transition: .2s;
}

a.button {
	display: inline-block;
}

.container {
	max-width: 1200px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.75em 0 0.5em 0;
	font-family: 'Montserrat';
	line-height: 1.25;
}

h2 {
	color: #33302e;
	text-align: center;
	font-weight: 700;
	font-family: 'Montserrat';
	font-size: 29px;
}

h3 {
	font-size: 1.5em;
}

.oldschool {
	font-family: comfortaa !important;
	text-transform: lowercase;
}

a {
	text-decoration:none;
}

a button {
	color:white;
	font-size:30px;
}

.flex-container {
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
	justify-content: center;
}

.background-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

@media only screen and (min-width: 420px) {
.flex-container {
	flex-flow: row wrap;
	justify-content: space-between;
	height:100%;
	align-items: center;
	}
}

.top-heading {
	margin-top: 0 !important;
}

.xscroll-container {
	overflow: hidden;
	cursor: move; /* fallback if grab cursor is unsupported */
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}

.xscroll-container:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/*--------------------------------
Navigation
--------------------------------*/

/* Hamburger  */
.burger-container {
	height: 100%;
	width: 100%;
}

.burger-container .burger {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.burger-container .burger .burger-line {
	width: 32px;
	height: 3px;
	border-radius: 20px;
	background-color: #222;
	-webkit-transition: all .3s ease .1s;
	transition: all .3s ease .1s;
}

.burger-container .burger .burger-line-middle {
	margin: 4px 0;
	-webkit-transition: all .15s ease .3s;
	transition: all .15s ease .3s;
}

/* Opening the burger */
.burger.open .burger-line-top {
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.burger.open .burger-line-bottom {
	-webkit-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

.burger.open .burger-line-middle {
	opacity: 0;
	margin: -3px 0;
	-webkit-transition: all .15s ease;
	transition: all .15s ease;
}

/* FULLSCREEN sidebar menu */
#sidebar-nav {
	position: fixed;
	height: calc(100% - 90px);
	bottom: 90px;
	right: 0;
	width: 50vw;
	background: white;
	box-shadow: 0 -10px 10px rgba(0,0,0,0.3);
	z-index: 420420;
	transition: .3s;
	overflow: hidden;
	-webkit-transform: translateX(85vw);
	-ms-transform: translateX(85vw);
	transform: translateX(85vw);
}

#sidebar-nav.open {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}

#sidebar-nav .sb-container {
	display: flex;
	height: 100%;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

#sidebar-nav .sb-logo-container .sb-logo {
	height: 60px;
	margin: 0 auto 1rem auto;
	display: block;
}

#sidebar-nav .sb-menu-container .sb-menu-item {
	display: flex;
	justify-content: flex-start;
	flex-flow: row nowrap;
	align-items: center;
	padding: .8em;
}

#sidebar-nav .sb-menu-container .sb-menu-item:hover {
	background-color: #f2f2f2;
}

#sidebar-nav .sb-menu-container .sb-menu-item .sb-icon {
	height: 2em;
	margin-right: .75em;
	display: inline;
}

#sidebar-nav .sb-menu-container .sb-menu-item .sb-menu-text {
	font-size: 1rem;
	font-weight: inherit;
	color: #999;
	margin: 0;
}


/*--------------------------------
Top header navigation
--------------------------------*/
#header {
		/* display: none; */
		background-color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
		box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.desktop-header {
	height: 100%;
	display: none;
}
.mobile-header {
	height: 100%;
}

#header-menu-container-small {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

#header-menu-container-small > div {
	flex: 1;
}

#header-logo-mobile {
	height: 50px;
	display: block;
	margin-left: auto;
}

.hamburger-container {
	height: 100%;
	display: flex;
	align-items: center;
}

#hamburger-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	cursor: pointer;
}

.hamburger-line {
	width: 32px;
	height: 2px;
	border-radius: 10px;
	background-color: #37039f;
	transition: transform .25s ease-out;
}

.hamburger-line-top {
	transform: translateY(-5px);
}
.hamburger-line-bottom {
	transform: translateY(5px);
}

#hamburger-wrapper.open .hamburger-line-top {
	transform: rotateZ(225deg) translateY(-1px);
}
#hamburger-wrapper.open	.hamburger-line-bottom {
	transform: rotateZ(135deg) translateY(1px);
}

/* Dropdown */
.fixed {
	position: fixed;
}

#dropdown {
	pointer-events: none;
	opacity: 0;
	box-sizing: border-box;
	position: fixed;
	top: 80px;
	left: 0px;
	width: 100%;
	z-index: 5;
	min-height: 100px;
	background-color: #fff;
	animation: fade-in-down;
	transition: .3s;
	border-bottom: 2px solid #ddd;
	/* border-top: 2px solid #eee; */
	/* border: 2px solid #aaa; */
}

#dropdown.open {
	pointer-events: all;
	opacity: 1;
}

.dropdown-menu-wrapper {
	padding: 8px 0;
}

.dropdown-menu-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 8px 0;
	transition: .25s;
	color: #b3b3b3;
}

.dropdown-menu-item:hover {
	color: #c74fff;
}

.dropdown-menu-item-text {
	font-size: 14px;
	font-family: 'Comfortaa';
	text-transform: lowercase;
}

@-webkit-keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fade-in-down {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* Dextop menu */
#header-menu-container-large {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
}

#header-menu-left, #header-menu-right {
	flex: 1;
}

#header-menu-left {
	text-align: right;
}

#header-menu-right {
	text-align: left;
}

#header-logo-container {
	flex-basis: auto;
	margin: 0 45px;
}

#header-logo {
	height: 80px;
}

.header-menu-item {
	color: #b3b3b3;
	text-transform: lowercase;
	font-family: comfortaa;
	font-size: 14px;
	transition: color .2s;
	padding: 2em 0;
}

.middle-item-left {
	margin: 0 30px;
}
.middle-item-right {
	margin: 0 40px;
}

.header-menu-item:hover {
	color: #c74fff;
}

.active {
	color: #c74fff;
}

@media (min-width: 800px) {
	#header {
		/* display: block; */
		height: 120px;
	}
	.desktop-header {
		display: block;
	}
	.mobile-header {
		display: none;
	}
	#header .container {
		width: calc(90% + 2rem);
	}
}

@media (min-width: 950px) {
 #header-logo-container {
	 margin: 0 69px;
 }
 .middle-item-left {
	 margin: 0 40px;
 }
 .middle-item-right {
	 margin: 0 65px;
 }
}

@media (min-width: 1200px) {
	.middle-item-left {
		margin: 0 76px;
	}
	.middle-item-right {
		margin: 0 90px;
	}
}

/*----------------------------------------------
Fullscreen mobile menu + global burger
----------------------------------------------*/

#global-burger {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 64px;
  height: 64px;
  background: white;
  border-radius: 200px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  z-index: 1010;
}

#global-burger .burger-line {
  background-color: #37039f;
}


#fullscreen-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  opacity: 0;
	-webkit-transform: translateX(100vw);
	transform: translateX(100vw);
	-webkit-transition: .3s ease-in;
	transition: .3s ease-in;
}

#fullscreen-nav.open {
  opacity: 1;
	-webkit-transform: none;
  transform: none;
	-webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.nav-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  height: 100%;
}

.fullscreen-nav-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .75em 1.25em;
  font-size: 1rem;
  color: #999;
  font-family: comfortaa;
  text-transform: lowercase;
}

.fullscreen-nav-item:hover {
  color: #c74fff;
}

.fullscreen-nav-item:last-child {
  margin-bottom: 2rem;
}

.fullscreen-nav-logo {
    display: block;
    margin: 0 auto;
		height: auto;
		width: 120px;
		margin-bottom: 1rem;
}

.fullscreen-nav-icon {
  display: inline-block;
  margin-right: .75em;
  height: 1.5em;
  opacity: .5;
}

@media (min-width: 480px) {
	.nav-container {
		justify-content: space-between;
	}
	.nav-section-menu {
		margin: 0 5vw 1rem 5vw;
	}
	.fullscreen-nav-item {
		font-size: 1.125rem;
		border-bottom: 1px solid #eee;
		padding: .75em;
		transition: background .3s ease-out;
	}
	.fullscreen-nav-item:last-child {
		border: none;
	}
	.fullscreen-nav-item:hover {
		background: #eee;
	}
	.fullscreen-nav-logo {
		width: 208px;
		padding: 0;
		margin: 8rem auto 0 auto;
	}
}

@media (min-width: 800px) {
	#global-burger, #fullscreen-nav {
		display: none;
	}
}

/*----------------------------------------------
Horizontal tabs menu
----------------------------------------------*/

.tabs {
	font-family: comfortaa;
	margin-bottom: 2rem;
}

.page-title-container {
	width: 100%;
	margin-bottom:.5rem;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	height: 15vh;
	background: #37039f;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none; /* here */
}

.page-title {
	font-family: inherit;
	font-size: 20px;
	text-align: center;
	text-transform: lowercase;
	margin: 0;
	padding: 1rem 0;
	font-weight: 400;
	color: white;
}

.tabs-container {
	padding: 0 16px;
	border-bottom: 1px solid #ddd;
}

.tabs-inner {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	margin-bottom: -1px;
	overflow-x: auto;
	padding-top: 5.2px;
}
@media (max-width: 479px) {
	#about-tabs .tabs-inner {
		justify-content: center;
	}
}


.tablink {
	color: #b3b3b3;
	font-size: 14px;
	font-family: inherit;
	text-transform: lowercase;
	margin-left: 20px;
	padding: 1.5em 0;
	cursor: pointer;
	-webkit-transition: border-bottom .3s ease;
	transition: border-bottom .3s ease;
	border-bottom: 1px solid #ddd;
}

.tablink:first-child {
	margin-left: 0;
}

.tablink.active-tab {
	border-bottom: 1px solid #c47fff;
}

.tablink:hover {
	border-bottom: 1px solid #c74fff;
	color: #c74fff;
}

.page-title-wide {
	display: none;
	font-family: inherit;
	text-transform: lowercase;
	font-weight: 400;
	color: #999;
}

@media (min-width: 480px) {
	.page-title-container {
		height: 100px;
	}
	.tabs-container {
		padding: 0 12px;
	}
	.tabs-inner {
		justify-content: center;
	}
	.tablink {
		margin-left: 28px;
	}
}

@media (min-width: 800px) {
	.tabs-container {
		width: 90%;
		max-width: 1200px;
		margin: auto;
		margin-top: 40.2px;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
	.tabs-inner {
		display: flex;
		justify-content: center;
		padding-top: 0;
	}
	.tablink {
		margin-left: 52px;
	}
	.page-title-container {
		display: none;
	}
	.page-title-wide {
		/* display: block; */
	}
}

.tabtext {
	color: #666;
	font-size: 1em;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
}

.tabcontent-h2 {
	font-family: 'Montserrat';
	text-align: center;
	font-weight: 700;
	font-size: 29px;
	margin-top: 0;
	color: #333;
}

/* .tabcontent h2 {
	color: #33302e;
	text-align: center;
	font-weight: 700;
	font-family: 'Montserrat';
	font-size: 29px;
} */


@media (min-width: 480px) {
	.tabcontent h2 {
		font-size: 29px;
	}
}





/*----------------------------------------------
Footer
----------------------------------------------*/

footer {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #999;
	font-family: comfortaa;
}
