/*----------------------------------------------
Horizontal tabs menu V2
----------------------------------------------*/

#tabs2 {
	font-family: comfortaa;
}

.page-title-container {
	width: 75%;
	margin: 0 auto;
	border-bottom: 1px solid #ddd;
}

.page-title {
	font-weight: bold;
	font-family: inherit;
	font-size: 2em;
	text-align: center;
	text-transform: lowercase;
	margin: .5em 0;
}

.tabs-container {
	padding-left: 12px;
	border-bottom: 1px solid #ddd;
	z-index: 2;
}

.tabs-inner {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	margin-bottom: -1px;
	overflow-x: auto;
}

.tablink {
	color: #999;
	font-family: inherit;
	text-transform: lowercase;
	margin: 0 4px;
	padding: 1.5em 0;
	-webkit-transition: border-bottom .3s ease;
	transition: border-bottom .3s ease;
	border-bottom: 1px solid #ddd;
	z-index: 5;
}

.tablink.active-tab {
	border-bottom: 1px solid #c47fff;
}

.tablink:hover {
	border-bottom: 1px solid #c74fff;
	color: #c74fff;
}

.page-title-wide {
	display: none;
	font-family: inherit;
	text-transform: lowercase;
	font-weight: 400;
	color: #999;
}

@media (min-width: 480px) {
	.tabs-container {
		padding: 0 12px;
	}
	.tabs-inner {
		justify-content: center;
	}
	.tablink {
		margin-left: 1em;
		margin-right: 1em;
	}
}

@media (min-width: 800px) {
	.tabs-container {
		width: 90%;
		max-width: 1200px;
		margin: auto;
		margin-top: 2em;
		padding: 0;
		display: flex;
		justify-content: space-between;
	}
	.tabs-inner {
		display: flex;
		justify-content: center;
	}
	.tablink {
		margin-left: 2em;
		margin-right: 2em;
	}
	.page-title-container {
		display: none;
	}
	.page-title-wide {
		display: block;
	}
}
