/*--------------------------------
Global CSS
--------------------------------*/

/* Global stuff */

body,html {
	font-family:"Open Sans", "Montserrat", sans-serif;
	margin:0;
	padding:0;
	line-height:1.5;
	font-weight:400;
	font-size:16px;
}

body {
	overflow-x: hidden;
	max-width: 100vw;
}



p {
	line-height: 1.5;
}

section {
	overflow:hidden;
}

button, .button {
	border:none;
	border-radius: 10px;
	background: #37039f;
	color: white;
	font-size: 16px;
	padding: 12px 2em;
	cursor: pointer;
	margin:1em 0;
	/* box-shadow: 0 1px 1px .5px rgba(55,3,159,0.8); */;
	transition: .2s;
}

a.button {
	display: inline-block;
}

.clickable-button {
	border-bottom:4px solid #37039f;
}

.clickable-button:hover {
	background:#6a43b7;
}

.clickable-button:active {
		border-bottom:4px solid #6a43b7;
		transform:scale(0.5);
}

.container {
	width:80%;
	max-width: 1200px;
	margin:auto;
	height:100%;
}

.large-container {
	width:90%;
	max-width:1200px;
	margin:auto;
	height:100%;
}

.main-column {
	background:white;
	border-radius:10px;
	box-shadow:0 1px 3px rgba(0,0,0,0.4);
	padding:1em;
}

h1,h2,h3,h4,h5,h6 {
	margin:0.75em 0 0.5em 0;
}

a {
	text-decoration:none;
}

a button {
	color:white;
	font-size:30px;
}

.flex-container {
	display: block;
	height: 100%;
}

@media only screen and (min-width:420px) {
.flex-container {
	display:flex;
	justify-content:space-between;
	height:100%;
	align-items: center;
	flex-flow: row wrap;
	}
}



/*--------------------------------
Navigation
--------------------------------*/


/* Mobile navigation bar */

#mnav {
	position: fixed;
	bottom: 0;
	width: 100vw;
	background: white;
	height: 90px;
	overflow: hidden;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	z-index: 420421;
	font-weight: 500; /* some typography */
	font-family: Comfortaa;
	text-transform: lowercase;
	color: #999;
}

#mnav .mnav-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	height: 100%;
}

#mnav .mnav-container .mnav-box {
	height: 100%;
	flex-basis: 22%;
}

#mnav .mnav-container .mnav-box .mnav-content {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#mnav .mnav-container .mnav-box .mnav-content:hover {
	background: #eee;
}

#mnav .mnav-container .mnav-box .mnav-content .mnav-icon {
	display: block;
	margin: 0;
	height: auto;
	width: auto;
	height: 32px;
}

#mnav .mnav-container .mnav-box .mnav-content .mnav-text {
	color: #999;
	text-align: center;
	font-size: .8rem;
	font-weight: inherit;
	margin: .5em 0 0 0;
}

/* Hamburger  */
.burger-container {
	height: 100%;
	width: 100%;
}

.burger-container .burger {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.burger-container .burger .burger-line {
	width: 32px;
	height: 3px;
	border-radius: 20px;
	background-color: #222;
	transition: all .3s ease-in-out;
	transition-delay: .1s;
}

.burger-container .burger .burger-line-middle {
	margin: 4px 0;
	transition: all .15s ease-in-out;
	transition-delay: .3s;
}

/* Opening the burger */
.burger.open .burger-line-top {
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.burger.open .burger-line-bottom {
	-webkit-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
}

.burger.open .burger-line-middle {
	opacity: 0;
	margin: -3px 0;
	transition: all .15s ease-in-out;
}

/* The sidebar menu */
#sidebar-nav {
	position: fixed;
	height: calc(100% - 90px);
	bottom: 90px;
	right: 0;
	width: 50vw;
	background: white;
	box-shadow: 0 -10px 10px rgba(0,0,0,0.3);
	z-index: 420420;
	transition: .3s;
	overflow: hidden;
	-webkit-transform: translateX(85vw);
	-ms-transform: translateX(85vw);
	transform: translateX(85vw);
}

#sidebar-nav.open {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);}

#sidebar-nav .sb-container {
	display: flex;
	height: 100%;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

#sidebar-nav .sb-logo-container .sb-logo {
	height: 60px;
	margin: 0 auto 1rem auto;
	display: block;
}

#sidebar-nav .sb-menu-container .sb-menu-item {
	display: flex;
	justify-content: flex-start;
	flex-flow: row nowrap;
	align-items: center;
	padding: .8em;
}

#sidebar-nav .sb-menu-container .sb-menu-item:hover {
	background-color: #f2f2f2;
}

#sidebar-nav .sb-menu-container .sb-menu-item .sb-icon {
	height: 2em;
	margin-right: .75em;
	display: inline;
}

#sidebar-nav .sb-menu-container .sb-menu-item .sb-menu-text {
	font-size: 1rem;
	font-weight: inherit;
	color: #999;
	margin: 0;
}


/*--------------------------------
Top header navigation
--------------------------------*/

#top-nav {
		display: none;
		background-color: white;
  	/* background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet); */
		color: white;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
		box-shadow:0 0 20px rgba(0,0,0,0.2);
}

@media (min-width: 480px) {
	#mnav {
		display: none;
	}
	#top-nav {
		display: block;
	}
}

#top-nav .container {
	height: 100%;
	width: 100%;
	max-width: 100%;
	background: white;
}

#top-nav nav {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
}

#top-nav nav ul {
	list-style:none;
	height:100%;
	margin: auto;
	padding:0;
	display: block;
}

#top-nav nav ul li {
	display:table;
	height:100%;
	float:left;
}

#top-nav nav ul li a {
	font-family:Comfortaa;
	font-size:1em;
	color: #999;
	/* display: table-cell;
	vertical-align:middle; */
	padding:0 40px;
	height:100%;
	transition:200ms;
}

#top-nav nav ul li a:hover {
	color:#D885FF;
	transform:scale(1.2);
}

#top-nav nav #menu-logo img {
	height:80px;
}

#top-nav nav .main-nav-active {
	color: #c74fff;
}


/*----------------------------------------------
Horizontal tabs menu
----------------------------------------------*/

#tabs {
	margin-top: 3rem;
	font-family: comfortaa;
	text-transform: lowercase;
}

@media (min-width: 1200px) {
	#tabs {
		margin-top: 8rem;
	}
}

#tabs .flex-container {
	justify-content: flex-start;
	border-bottom: 1px solid #e6e6e6;
}

@media (min-width: 800px) {
	#tabs .flex-container {
		justify-content: center;
	}
}

#tabs .page-title h1 {
	font-size:1.5em;
	color:#5e5e5e;
	font-weight:400;
	margin:0;
}

#tabs .flex-container .page-title {
	flex-basis: 100%;
	align-self: center;
	text-align: center;
	margin-bottom: 2rem;
}

@media (min-width: 1200px) {
	#tabs .flex-container .page-title {
		flex-basis: auto;
		flex: 1;
		padding-bottom: 0.5em;
		text-align: left;
		margin: 0;
	}
}

#tabs .flex-container .tabs-items-container {
	flex: 7;
	text-align: center;
	align-self: flex-end;
	margin-bottom: -1px;
}

#tabs .flex-container .flex-fill {
	flex: 0;
}

@media (min-width: 1200px) {
#tabs .flex-container .flex-fill {
	flex: 1;
	}
}

#tabs .tabs-items {
	padding-top: 20px;
	height: 100%;
	list-style: none;
	text-align: center;
	display: inline;
	font-size: 1em;
	padding: 0;
	/* Let it scroll, let it scroll */
	overflow: auto;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

#tabs .tabs-items li {
	display: inline-block;
}

#tabs .tabs-items li a {
	display: block;
	margin:0 1em;
	padding-bottom: 1em;
	text-transform: lowercase;
	border-bottom: 1px solid #e6e6e6;
	color:#cccccc;
	transition: .25s;
	cursor: pointer;
}

@media (min-width: 800px) {
	#tabs .tabs-items li a {
		margin: 0 2em;
	}
}

#tabs .tabs-items .active-tab {
	border-bottom: 1px solid #c74fff;
}

#tabs .tabs-items a:hover {
	border-bottom: 1px solid #c74fff;
	color:#c74fff;
}

.tabcontent {
	margin: 50px 0;
}

.tabcontent #discover.flex-container {
	align-items: flex-start;
}

.tabcontent p {
	color: #666;
	font-size: 1em;
	line-height: 1.8;
	font-family: sans-serif;
}

.tabcontent h2 {
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 2.5em;
	margin-top: 0;
	font-weight: 600;
	color: #333;
}

.tabcontent #overview-text {
	flex-basis: calc(50% - 50px);
	padding-right: 50px;
}

.tabcontent #overview-video {
	flex-basis: 50%;
}

.tabcontent #approach {
	padding-top: 100px;
	width: 66.7%;
	margin: auto;
}

.tabcontent #approach h2 {
	text-align: center;
}

.tabcontent #process {
	margin-top: 100px;
}

.tabcontent #process .process-box-container {
	flex-basis: 29%;
	overflow: hidden;
}

.tabcontent #process h2 {
	margin: 0.5em 0;
	text-align: center;
}

.tabcontent #process .process-box-container .process-box-content {

}

.tabcontent #process .process-box-container img {
	width: 400px;
	height: 250px;
}


/* Horizontal scroll */

.x-scroll .scroll-wrapper {
	/* overflow: hidden; */
}

.x-scroll .scroll-inner {
	white-space: nowrap;
}

/* --- About page --- */

/* Our story */

#ourStory #our-story-image {
	flex-basis: 30%;
}

#ourStory #our-story-image img {
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

#ourStory #our-story-text {
	flex-basis: 60%;
	align-self: flex-start;
}

/* standout text */

.standout {
	min-height: 400px;
}

#our-vision.standout {
	color: white;
	background-image: url('..img/night-sky.jpg');
	background-position: center;
	background-size: cover;
}

/*----------------------------------------------
Footer
----------------------------------------------*/

footer {
	margin-top: 70vh;
}

footer {
	color: white;
	text-align: center;
	clear: both;
	min-height: 500px;
	background-image: url('../img/night-sky.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

footer .newsletter {
	padding: 100px 0;
}

footer .newsletter h2 {
	margin: 0;
	font-size: 3em;
	text-shadow: 1px 1px 1px #222;
}

footer .newsletter input[type="email"] {
	border:none;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #222;
	padding: 0.75em;
	font-size:1.25em;
	width: 70%;
}
/*----------------------------------------------
Homepage -Landing section
----------------------------------------------*/

#landing-section {
	background-image:url("../img/purple-mushrooms.jpg");
	background-position:center;
	background-size:cover;
	box-sizing:border-box;
	/* height:100vh; */
	min-height:600px;
	height:calc(100vh - 100px);
	/*box-shadow:0 0 30px red;*/
	overflow:hidden;
	background-attachment: scroll;
}

@media (min-width:1068px;) {
	section#landing-section {
		min-height:750px;
	}
}

#landing-section .background-overlay {
	height:100%;
	background-color:rgba(0,0,0,0.3);
}

#landing-section .container {
	display:table;
	height:100%;
}

#landing-section #landing-content {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:white;
}

#landing-section #landing-content h1 {
	font-size:90px;
	font-family:Montserrat;
	font-weight:900;
	font-style:normal;
	text-transform: uppercase;
	margin:0;
}

#landing-section #landing-content h3 {
	font-family: comfortaa;
	font-size:26px;
	font-weight:300;
	text-transform: lowercase;
	margin:0 0 0.5em 0;
}


#landing-button {
	margin-top:1em;
	border-radius:50px;
	padding:2em 6em;
	font-size: 12px;
	text-transform:uppercase;
	letter-spacing:1.25px;
}

.section-shadow {
	height:2px;
	width:100%;
	box-shadow:0 0 40px red;
	position:relative;
	z-index:2;
}

/*----------------------------------------------
Homepage - Truffles section
----------------------------------------------*/

.image-text {
	height:100vh;
	color:white;
	font-size: 20px;
}

.image-text .flex-container p {
	margin-bottom:2em;
}

.image-text .flex-container h2 {
	font-family: Montserrat;
	font-size: 2.5em;
	font-weight: 600;
}

.image-text .background-overlay {
	height:100%;
	background-color:rgba(0,0,0,0.5);
}

.image-text .flex-container div {
	flex-basis:45%;
}

#truffles.image-text {
	background:url('../img/truffles2.jpg');
	background-size:cover;
	background-position:right;
	background-attachment: scroll;
	box-shadow: inset 0 55vh 50vh -50vh rgba(0,0,0,0.5);
}

#experience.image-text {
	background:url('../img/experience.jpg');
	background-size:cover;
	background-position:right;
	background-attachment: scroll;
	text-align:right;
}

.background-image {
	padding:200px;
}

/* About truffles section V2 Mobile first */
.side-image-section {
	height: 100vh;
	overflow: hidden;
}

.side-image-section .flex-container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.side-image-section .side-image {
	width: 100%;
	max-width: 500px;
	max-height: 40vh;
	min-height: 15vh;
	height: auto;
	border-radius: 10px;
	margin-top: 2em;
}

.side-image-section .section-title {
	margin: 0;
	font-family: montserrat;
	font-weight: 700;
	text-align: center;
	font-size: 2em;
}

.side-image-section .section-text {
	margin: 1em 0;
}

.side-image-section .button {
	display: block;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.75em;
}

@media (min-width: 800px) {
	.side-image-section {
		height: auto;
		padding: 20vh 0;
	}

	.side-image-section .flex-container {
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	.side-image-section .column {
		flex-basis: 48%;
	}
	/* .side-image-section .column-image {
		height: 50vh;
		background: white url('../img/truffles2.jpg') no-repeat scroll center;
		background-size: cover;
		border-radius: 10px;
	} */
	.side-image-section .side-image {
		margin: 0;
	}
	.side-image-section .section-title {
		text-align: left;
		font-size: 3em;
	}
	.side-image-section .button {
		width: 50%;
		margin: 0;
	}
	.side-image-section .section-text {
		font-size: 20px;
	}
	.side-image-section.side-image-reverse .column-text {
		order: 2;
	}
	.side-image-section.side-image-reverse .section-title, .side-image-section.side-image-reverse .section-text {
		text-align: right;
	}
	.side-image-section.side-image-reverse .button {
		margin: 0 0 0 auto;
	}
}

/*----------------------------------------------
Learn page - resources
----------------------------------------------*/

.video-section-container {
	margin: 1rem 0;
}

.video-section-title-box {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.video-section-title {
	font-family: comfortaa;
	font-weight: 400;
	color: #999;
	text-transform: lowercase;
}

.view-all {
	color: #d884ff;
	font-weight: 400;
	text-transform: lowercase;
	font-family: comfortaa;
}




yes
